<?xml version="1.0"?>
<mainMenu xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <newGame>
    <gender>0</gender>
    <inputType>0</inputType>
    <name>tnrtnjnr</name>
  </newGame>
  <save-info>
    <date-time>17.02.2021 17:34</date-time>
  </save-info>
</mainMenu>